/*Global*/
h1,
h2,
h3,
h4,
h5,
h6,
.danzerpress-button-modern,
.danzerpress-button-modern-transparent {
    font-family: 'Montserrat', sans-serif !important;
}
p,
li,
a,
span {
    font-family: 'Roboto', sans-serif !important;
}


/*Contact Form*/
input, textarea {
    width: 100%;
    background: #f8f9f9;
    border: none;
    padding: 10px;
    font-size: 14px;
}

header.drawer-navbar {
    height: auto;
    position: relative;
    &.danzerpress-non-trans li a {
        color: white !important;
    }
    .drawer-navbar-header {
        position: absolute;
        top: 30px;
        background: transparent;
        left: 70px;
    }
    .drawer-container {
        background: black;
        max-width: 100%;
        height: 30px;
        .drawer-nav {
            height: auto;
            width: 100%;
            top: 0;
            max-width: 1200px;
            margin: auto;
            .drawer-menu {
                align-self: flex-end;
            }
        }
    }
    .header-space {
        padding: 15px;
        &.light-space {
            opacity: .9;
        }
        &.purple {
            background: purple;
        }
        &.light-purples {
            background: rebeccapurple;
        }
    }
    li#danzerpress-search {
        &:hover {
            border-color: transparent;
        }
        .danzerpress-search .fa {
            &.active {
                margin-right: 5px;
                font-size: 15px;
            }
            &:hover {
                cursor: pointer;
            }
            
        }
    }
}

.archive {
    @media screen and (max-width: 767px) {
        .danzerpress-wrap {
            width: 100%;
        }
    }
}


body {
    &.home {
        padding: 0;
    }
    .danzerpress-button-modern {
        border-radius: 0;
    }
}

.widget {
    background: #fff;
    padding: 20px;
    border-top: 8px solid black;
}