/**
* Global
**/
h1,
h2,
h3,
h4,
h5,
h6,
.danzerpress-button-modern,
.danzerpress-button-modern-transparent {
    font-family: 'Montserrat', sans-serif !important;
}
p,
li,
a,
span {
    font-family: 'Roboto', sans-serif !important;
}

body {
    .danzerpress-button-modern {
        border-radius: 0;
    }
}

/**
* Contact Form
**/
input, textarea {
    width: 100%;
    background: #f8f9f9;
    border: none;
    padding: 10px;
    font-size: 14px;
}

/**
* Navigation
**/
.drawer-navbar .drawer-navbar-header {
    background: #7367a7;
    border: none;
    .drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before {
        background: white;
    }
}
@media screen and (max-width: 1023px) {
    .danzerpress-featured-content {
        .danzerpress-two-thirds {
            padding: 0;
        }
    }
}
@media screen and (min-width: 1023px) {
    .danzerpress-featured-content {
        margin: 20px 0 0;
    }
    
    /**
    * Navigation
    **/
    body {
        &.home,
        &.hide-header {
            padding: 0;
        }
    }
    .admin-bar header {
        top: 0px;
    }

    header.drawer-navbar {
        height: auto;
        position: relative;
        &.danzerpress-non-trans li a {
            color: white !important;
        }
        .drawer-navbar-header {
            position: absolute;
            top: 30px;
            background: transparent;
            left: 70px;
        }
        .drawer-container {
            background: #231e1f;
            max-width: 100%;
            height: 30px;
            .drawer-nav {
                height: auto;
                width: 100%;
                top: 0;
                max-width: 1200px;
                margin: auto;
                .drawer-menu {
                    align-self: flex-end;
                }
            }
        }
        .header-space {
            padding: 15px;
            &.light-space {
                opacity: .9;
            }
            &.purple {
                background: purple;
            }
            &.light-purples {
                background: rebeccapurple;
            }
        }
        li#danzerpress-search {
            &:hover {
                border-color: transparent;
            }
            .danzerpress-search .fa {
                &.active {
                    margin-right: 5px;
                    font-size: 15px;
                }
                &:hover {
                    cursor: pointer;
                }
                
            }
        }
    }
}

/**
* Infinite Scroll
**/
.archive {
    @media screen and (max-width: 767px) {
        .danzerpress-wrap {
            width: 100%;
        }
    }
}

/**
* Widget
**/
.widget {
    .danzerpress-two-thirds {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    margin: 0px;
    h3 {
        margin-top: 20px;
    }
    h4 {
        margin-bottom: 10px;
    }
    .fa {
        font-size: 25px;
        margin-right: 10px;
    }
    .textwidget {
        background: #fff;
        padding: 20px;
        border-top: 8px solid #000;
    }
}

/**
* Pagination
**/
.danzerpress-next {
    text-align: right;
}
.danzerpress-pagination {
    margin-top: 20px;
}