/*Global*/
h1,
h2,
h3,
h4,
h5,
h6,
.danzerpress-button-modern,
.danzerpress-button-modern-transparent {
    font-family: 'Montserrat', sans-serif !important;
}
p,
li,
a,
span {
    font-family: 'Roboto', sans-serif !important;
}

/*Nav*/
.drawer-navbar {
    .drawer-container {
        .menu-cta  {
            padding: 0 15px 4px;
            a {
                color: white !important;
            }
        }
    }
}

/*Icon Section*/
div.danzerpress-icons-section { 
    .icon-wrap {
        .danzerpress-content-wrap {
            background: white;
            padding: 20px;
        }
        .danzerpress-md-2.danzerpress-sm-2.danzerpress-xs-1 {
            display: flex;
            flex-direction: column;
        }
        .danzerpress-content-wrap {
            flex: 1 0 auto;
            overflow: hidden;
        }
        &.target-locations {
            .hover-state {
                &:after {
                    content: "\f063";
                }
            }
        }
        a:hover {
            > .hover-state {
                opacity: .9;
            }
        }
    }
}

/*Contact Form*/
input, textarea {
    width: 100%;
    background: #f8f9f9;
    border: none;
    padding: 10px;
    font-size: 14px;
}

/*Blog Page*/
body.blog .main-content article h2 {
    margin: 0 0 5px;
    font-size: 40px;
}
body.blog .main-content article .image-wrap {
    padding-top: 100%;
}
.blog article .danzerpress-content p {
    font-size: 17px;
}