{% extends 'base.twig' %}

{% block body %}
    <div class="danzerpress-featured-content main-content">
            <div class="danzerpress-flex-row">
                <div class="danzerpress-two-thirds">
                    {{
                        chunks.Hero({
                            chunk: true,
                            classes: ['danzerpress-background-gradient'],
                            background_type: 'image',
                            hero_layout: 1,
                            section_image: post.thumbnail.src,
                            section_title: post.title,
                            section_description: post.preview.length(20).force.end('').read_more(''),
                            button_text_left: 'Read More',
                            button_link_left: post.link
                        })
                    }}
                    
                    <h2 class="danzerpress-title" style="margin: 50px 0 20px; font-size: 25px;">Featured Posts</h2>
                    {{ chunks.InfiniteScroll({posts: posts, columns: 1, template: 'child-front-content.twig', posts_per_page: posts_per_page, post_page: post_page}) }}
                </div>
                <div class="danzerpress-one-third">
                    {{ sidebar_primary }}
                </div>
            </div>
    </div>
{% endblock %}