{% extends "templates/base.twig" %}

{% block body %}
    <div class="main-content">
        <div class="danzerpress-wrap">
            <div class="danzerpress-flex-row">
                <div class="danzerpress-two-thirds danzerpress-col-center">
                {{ chunks.InfiniteScroll({posts: posts, posts_per_page: 10, post_page: 2}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}