.single .main-content {
    background: #e7e7e7;
}

.learndash {
    br {
        display: none;
    }
    overflow: hidden;
    margin-bottom: 60px;
    ul {
        li {
            color: grey;
            padding: 7px 0;
        }
    }
    .learndash_content {
        margin-bottom: 20px;
    }
    #learndash_course_materials,
    #learndash_quizzes {
        margin-bottom: 20px;
    }
    #learndash_lessons,
    #lesson_heading,
    #quiz_heading {
        border-radius: 0px;
    }

    /*Quiz*/
    .wpProQuiz_content {
        background: white;
        padding: 20px;
        p[cass="wpProQuiz_clear"] {
            display: none;
        }
        .wpProQuiz_sending {
            text-align: center;
            p {
                display: none;
            }
        }
        .wpProQuiz_header {
            font-size: 25px;
        }
        .wpProQuiz_questionList {
            background: rgba(231, 231, 231, 0.7);
            border: none;
        }
        .wpProQuiz_listItem {
            margin-bottom: 20px;
            input {
                width: auto;
                margin-right: 9px; 
            }
        }
        .wpProQuiz_results {
            text-align: center;
        }
    }
    .wpProQuiz_quiz {
        background: white;
        padding: 20px;
    }
    input[name="restartQuiz"] {
        margin-bottom: 20px;
    }

    dd.course_progress div.course_progress_blue {
        background-color: #00c6f0;
    }
}