{% extends "templates/base.twig" %}

{% block body %}
    <div class="main-content">
        <div class="danzerpress-wrap">
            <div class="danzerpress-flex-row">
                <div class="danzerpress-two-thirds danzerpress-col-center">
                {% for post in posts %}
                    {% include "templates/content.twig" with {post: post}  %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}